@{
    ViewData["Title"] = "Multiple Models In Single View";
}

<h1>Multiple Models In Single View</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a asp-area="" asp-controller="MultipleModelsInSingleView" asp-action="UsingDynamicModel">Using Dynamic Model</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="MultipleModelsInSingleView" asp-action="UsingViewModels">Using ViewModels</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="MultipleModelsInSingleView" asp-action="UsingViewData">Using ViewData</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="MultipleModelsInSingleView" asp-action="UsingViewBag">Using ViewBag</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="MultipleModelsInSingleView" asp-action="UsingTuple">Using Tuple</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="MultipleModelsInSingleView" asp-action="UsingRenderActionMethodAndPartialView">Using RenderAction Method And PartialView</a>
        </li>
    </ul>
</div>